* {
    overflow-x: hidden;
}

.bg-main{
    background-image: url('/assets/images/social-share-seo-hayesod.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.content{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100vh;
}

.large-text{
    font-size: 500px;
}

.large-text-title{
    font-size: 150px;
}

 /* Container for the running text */
 .running-text-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #dbabab;
    position: fixed;
    bottom: 0;
}

/* Running text style */
.running-text {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 20s linear infinite;
    font-size: 25px;
    color: #000000;
}

/* Animation for the text */
@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width:768px) {
    .large-text{
        font-size: 150px;
    }

    .large-text-title{
        font-size: 50px;
    }
}

@media (max-width:1024px) {
    .large-text{
        font-size: 150px;
    }

    .large-text-title{
        font-size: 50px;
    }
}

@media (max-width:1440px) {
    .large-text{
        font-size: 300px;
    }

    .large-text-title{
        font-size: 70px;
    }
}